body {
	display: flex;
	flex-direction: column;
}
header, main {
	align-items: flex-start;
}
nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	order: -1;
}
footer {
	order: 1;
	align-items: flex-end;
}