body {
	display: flex;
	flex-direction: column;
}
header, nav {
	align-items: flex-start;
}
footer {
	order: 1;
	align-items: flex-end;
}
main {
	display: flex;
}
article, nav {
	flex-direction: column;
}
h2 {
	order: -1;
}