body {
	display: flex;
	flex-direction: column;
}
header, nav {
	align-items: flex-start;
}
footer {
	order: 1;
	align-items: flex-end;
}
section {
	display: flex;
}
h3 {
	order: 1;
	flex-direction: row;
}
p {
	flex-direction:  column;
	align-content: flex-start;
}
