body {
	display: flex;
	flex-direction: column;
}
header, main, nav {
	align-items: flex-start;
}
footer {
	order: 1;
	align-items: flex-end;
}
#nav-articles, #nav-one, #nav-two {
	position: sticky;
}