/* customized for Github pages*/
html { /* entire html document inherits this */
	font-size: 18px;
	font-family: 'Major Mono Display', monospace;
	background-color: #000000;
}
body {
	width: 300px;
  	margin: 0 auto;
  	background-color: #edde40;
  	padding: 0 20px 20px 20px;
  	border: 5px solid black;
}
p, a {
	display: block;
	font-size: 14px;
	color: black;
}
a:hover, a:active, a:focus {
	color: darkred;
}
a:visited {
	color: blue;
}
.return {
	text-align: center;
	color: white;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
