html {
	font-family: 'Staatliches', cursive;
	font-size: 18px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
body {
	background-color: #FAF794;
}
#pics {
	background-color: #183944;
	color: #A8DC9D;
}
a:hover, a:active, a:focus, a:visited {
	color: #ffffff;
}
.name {
	font-family: 'Indie Flower', cursive;
}